{% extends 'base.html' %}

{% block content %}

<h1 class="">Sign Up</h1>
<p class="">Register below to join our application!</p>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}
    {% for error in field.errors %}
    <span class="">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="" type="submit">Register</button>

</form>
{% endblock %}