{% extends 'base.html' %}

{% block content %}
<h1 class="has-text-weight-bold is-size-2">Hello {{user.first_name}} {{user.last_name}}, you have been authorized.</h1>
<ul>
    <li>First name: {{user.first_name}}</li>
    <li>Last name: {{user.last_name}}</li>
    <li>Contact info: {{user.email}}</li>
</ul>
<a href="/users/{{user.username}}/delete">Delete account</a>
<h2 class="has-text-weight-bold is-size-3">User feedback section</h2>
{% for feedback in user.feedback %}
<ul>
    <li>Title: {{feedback.title}}</li>
    <li>Content: {{feedback.content}}</li>
    <li>This feedback was brought to you by: {{feedback.username}}</li>
    <a href="/users/{{user.username}}/{{feedback.id}}/edit">Edit</a>
    <a href="/users/{{user.username}}/{{feedback.id}}/delete">Delete</a>
</ul>
{% endfor %}
<h3 class="has-text-weight-bold is-size-4">Add some feedback</h3>
<form action="/users/{{user.username}}/feedback/add" method="POST">
{{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <p></p>
    {{ field.label }} 
    {{ field }}

    {% for error in field.errors %}
    <span class="">{{ error }}</span>
    {% endfor %}

  {% endfor %}
  <br>
  <button type="submit">Submit</button>
</form>

{% endblock %}